<div class=" bg-dark border-right p-3" id="sidebar">
    <h3 class="text-light">Paises App</h3>
    <hr class="text-white">
    <app-menu></app-menu>

    <hr class="text-white">
    <h2 class="text-light">Busqueda</h2>
    <hr class="text-white">
    <ul class="list-group">
        <li class="list-group-item" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Buscar pais</li>
        <li class="list-group-item" routerLink="region" routerLinkActive="active">Por region</li>
        <li class="list-group-item" routerLink="capital" routerLinkActive="active">Por capital</li>
    </ul>
</div>